<h1><%=current_user.name %>'s Profile</h1>
<% u = @users.find_by_id(current_user.id) %>

<p>Name: <%= u.name %></p>
<p>Age: <%= u.age %></p>

<table>
  <tbody>
   
      <tr>
        <% x = u.id %>
        Games: 
        <% @game_users.each do |y| %>
          <%if x == y.user_id %>
            <td><%= y.game.name %>, </td>
          <% end %>
        <% end %>
        

      </tr>
	</tbody>
</table>

<p><%=u.description%>