<!-- js source: http://paweljaniak.co.za/2013/07/25/5-star-ratings-with-rails/ -->
<div class="commentHead"><b>User: <%= User.find(@game_rating_user.user_id).name %></b></div>

<table>
<thead>
	<tr>
		<th>Name</th>
		<th>Logo</th>
		<th>Rating</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			<%= Game.find(@game_rating_user.game_id).name%>
		</td>
	
		<td>
			<img class="logos" src="<%= @logo %>"></img>
		</td>

		<td>
			<!--<%=@rating%>-->
			Your rating: 
			<div class="user_star"></div><br>
			Average rating:
			<!-- <div id="star"></div> -->
			<div> <% score = @game_rating_user.average %>
             <% stars_off = 5 - score %>
               <% score.times do %>
                  <img src="../assets/star-on.png"></img>
               <% end %>
               <% stars_off.times do %>
                  <img src="../assets/star-off.png"></img>
               <% end %>
            </div>
		</td>
	</tr>
</tbody>
</table>

<p><%= link_to 'Leave a comment', new_comment_path(@game_rating_user.id)%>
<table>
	<thead>
		<th>comments<th>
	</thead>
	<tbody>
		<% if @comments.first.nil? %>
		<% else %>
			<% @comments.each do |comment| %>
				<tr>
					<td>	
					<div class="commentHead"><h3><%= User.find(comment.user_id).name %> <small style="float:right;" ><%= comment.created_at %></small></h3></div>	
					<small><%= comment.comment_text %></small>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>


<script>

  $('#star').raty({
    readOnly: true,
    score: <%= @game_rating_user.average_rating %>,
    path: '/assets'
  });

  $('.user_star').raty({
    score: <%= @rating_entry.score%>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating_entry.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>