

<h1>Spielerliste</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name , profile_path(user.id) %>: </td>
        <% x = user.id %>
        <% @game_users.each do |y| %>
          <%if x == y.user_id && GameUser.all.where("user_id = ? AND game_id= ?", y.user_id, y.game_id).first.deleted == false %>
            <td>
              <% if y.rating_id == nil %>
                ]
                <% else %>
                <p>[<%= link_to y.game.name, usercomments_path(y.id, @ratings.find(y.rating_id).score, current_user.id) %> 
                 -> Rating:
                <% score = @ratings.find(y.rating_id).score %> ]</p>
                <% stars_off = 5 - score %>
                <% score.times do %>
                  <img src="../assets/star-on.png"></img>
                <% end %>
                <% stars_off.times do %>
                  <img src="../assets/star-off.png"></img>
                <% end %><br>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- DEBUG AUSGABEN
        <td>
          <%= "current_user.friend? user #{current_user.friend? user}" %>
            <%= "current_user.friend_request_incoming? user #{current_user.friend_request_incoming? user}" %>
            <%= "current_user.friend_request_sent? user #{current_user.friend_request_sent? user}" %>
        </td>
        -->
        <td>
            <% if current_user.friend? user %>
              <%= link_to 'Destroy', friend_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% elsif current_user.friend_request_incoming? user %>
              <%= link_to "accept friend request", add_user_path(user) %>
            <% elsif current_user.friend_request_sent? user %>
              request sent
            <% elsif user.id == current_user.id %>
              <!-- Nichts bei einem selbst -->
            <% else %>
              <%= link_to "add friend", add_user_path(user) %>
            <% end %>

          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Game user', new_game_user_path %>

