<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @game.name %>
	<% if @game_users.where("user_id = ? AND game_id = ?", current_user.id, params[:id]).exists? %>
		<td>
			You play the game
		</td>
	<% else %>
		<td>
			<%= link_to "add game", add_game_path(params[:id]) %>
		</td>
	<% end %>

</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
