<!DOCTYPE html>
<html>
<head>
  <title>Zockerpartner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	<small>
		Angemeldet als: <%=current_user.name %>
		<%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>
	</small>
	<div id="navi" class="textWhite">
		<table>
			<tr>
				<td>
				<%= link_to "Userliste", game_users_path, :method => :get %>
				</td>
				<td>
				<%= link_to "Gamesliste", games_path, :method => :get %>
				</td>
				<td>
				<%= link_to "Profil", profiles_path, :method => :get %>
				</td>
				<td>
				<%= link_to "Freundesliste", friends_path, :method => :get %>
				</td>
			</tr>
		</table>
	</div>


<% else %>
	<p>
		<%= link_to "Benutzerkonto erstellen", new_user_registration_path, :method => :get %>
	</p>

	<p>
		<%= link_to "Anmelden", new_user_session_path, :method => :get %>
	</p>

<% end %>

<%= yield %>

</body>
</html>
