<!DOCTYPE html>
<html>
<head>
  <title>Zockerpartner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	<div id="headinfo">
		<small>
			Angemeldet als: <%=current_user.name %>
			<%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>
		</small>
	</div>
	<div id="navi" class="textWhite, gradient">
		<table>
			<tr>
				<td>
					<div class="button"><%= link_to "Userliste", game_users_path, :method => :get %>
					</div>
				</td>
				<td>
				<div class="button">
				<%= link_to "Gamesliste", games_path, :method => :get %>
				</div>
				</td>
				<td>
				<div class="button">
				<%= link_to "Profil", profiles_path, :method => :get %>
				</div>
				</td>
				<td>
				<div class="button">
				<%= link_to "Freundesliste", friends_path, :method => :get %>
				</div>
				</td>
			</tr>
		</table>
	</div>


<% else %>
	<p>
		<%= link_to "Benutzerkonto erstellen", new_user_registration_path, :method => :get %>
	</p>

	<p>
		<%= link_to "Anmelden", new_user_session_path, :method => :get %>
	</p>

<% end %>

<%= yield %>

</body>
</html>
